<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.simonlee.widgetdemo">

    <!--注册私有广播权限-->
    <permission
        android:name="com.simonlee.widgetdemo.broadcast.permission"
        android:protectionLevel="signature" />

    <!--申请私有广播权限-->
    <uses-permission android:name="com.simonlee.widgetdemo.broadcast.permission" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="@null"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/BaseActivityTheme.TransparentWindow"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="fullUser"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser"
            android:theme="@style/BaseActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".badge.BadgeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".scrollpicker.ScrollPickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".autowraplayout.AutoWrapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".swipeback.SwipeBackActivity"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".swiperefreshlayout.SwipeRefreshActivity"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".slidingtablayout.SlidingTabActivity"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>